[Unit]
Description=Apache Zookeeper server 
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target 
After=network.target remote-fs.target

[Service]
Type=simple
User=zookeeper
SyslogIdentifier=zookeeper
Restart=always
RestartSec=0s
Group=confluent
Environment=CONFLUENT_HOME=/opt/confluent
Environment="ZOO_LOG_DIR=/opt/zookeeper"
Environment="KAFKA_OPTS=-javaagent:/opt/jolokia-jvm-{{ JOLOKIA_VERSION }}-agent.jar=port=7778,host=localhost"
ExecStart=/opt/confluent/bin/zookeeper-server-start /etc/kafka/zookeeper.properties
KillMode=process

[Install]
WantedBy=multi-user.target