[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target 
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=confluent
Environment=JAVA_HOME=/etc/alternatives/jre
Environment=CONFLUENT_HOME=/opt/confluent
Environment="KAFKA_HEAP_OPTS=-Xms256M -Xmx768M"
Environment="KAFKA_LOGS_DIR=/opt/kafka"
Environment="KAFKA_OPTS=-javaagent:/opt/jolokia-jvm-{{ JOLOKIA_VERSION }}-agent.jar=port=7777,host=localhost"
ExecStart=/opt/confluent/bin/kafka-server-start /etc/kafka/server.properties
ExecStop=/opt/confluent/bin/kafka-server-stop
KillMode=process

[Install]
WantedBy=multi-user.target