[Unit]
Description=Apache Zookeeper server 
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target 
After=network.target remote-fs.target
[Service]
Type=simple
User=zookeeper
SyslogIdentifier=zookeeper
Restart=always
RestartSec=0s
Group=zookeeper
ExecStart=/opt/confluent/bin/zookeeper-server-start /etc/kafka/zookeeper.properties
ExecStop=/opt/confluent/bin/zookeeper-server-stop
ExecReload=/opt/confluent/bin/zookeeper-server-stop && /opt/confluent/bin/zookeeper-server-start /etc/kafka/zookeeper.properties
WorkingDirectory=/zookeeper
[Install]
WantedBy=multi-user.target